.related {
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.divcard {
  width: calc(33% - 10px);
    flex: 0 0 auto;

  & div {
    width: 100% !important;
    height: auto !important;

    & img {
      object-fit: cover !important;
    }

  }
}

@media (max-width: 1000px) {
  .divcard {
    width: calc(50% - 10px) !important;

    & div {

      & img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }

      & div span {

        &:nth-child(1) {
          font-size: 12px;
        }
    
        &:nth-child(2) {
          font-size: 14px;
        }
    
        &:nth-child(3) {
          font-size: 12px;
        }
    
        &:nth-child(4) {
          font-size: 14px;
        }
      }
    }
  }
}